<p>Bienvenue sur AlloAnim, <%= @resource.email %>!</p>

<p>Confirmez votre compte AlloAnim en cliquant sur ce lien:</p>

<p><%= link_to 'Confirmer mon compte AlloAnim', confirmation_url(@resource, confirmation_token: @token) %></p>
