<div class="home_hero">

  <div class="col-md-6">
    <div class="home_desc">
      <h1>
        <span class="brand_text">AlloAlloAnim</span>
        Trouvez rapidement un animateur périscolaire disponible
      </h1>
    </div>
  </div>

</div> <!-- .home-hero -->