<p>Bonjour <%= @resource.email %>!</p>

<p>Changer votre mot de passe AlloAnim en cliquant sur le lien ci-dessous:</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

